<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApp2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <WindowsApp2.My.MySettings>
                <setting name="PA1" serializeAs="String">
                        <value>You attacked Grisou for </value>
                </setting>
                <setting name="DAM" serializeAs="String">
                        <value> Damage</value>
                </setting>
                <setting name="GA1" serializeAs="String">
                        <value>Grisou attack you for </value>
                </setting>
                <setting name="PAM1" serializeAs="String">
                        <value>You attacked Grisou but missed</value>
                </setting>
                <setting name="GAM1" serializeAs="String">
                        <value>Grisou attacked you but missed</value>
                </setting>
        </WindowsApp2.My.MySettings>
    </userSettings>
</configuration>