<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApp2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <WindowsApp2.My.MySettings>
                <setting name="PA1" serializeAs="String">
                        <value>You attacked Grisou for </value>
                </setting>
                <setting name="DAM" serializeAs="String">
                        <value> Damage</value>
                </setting>
                <setting name="GA1" serializeAs="String">
                        <value>Grisou attack you for </value>
                </setting>
                <setting name="PAM1" serializeAs="String">
                        <value>You attacked Grisou but missed</value>
                </setting>
                <setting name="GAM1" serializeAs="String">
                        <value>Grisou attacked you but missed</value>
                </setting>
                <setting name="PDH1" serializeAs="String">
                        <value>Grisou Attacked you but your defense blocked it</value>
                </setting>
                <setting name="GDH1" serializeAs="String">
                        <value>You attacked Grisou but her defense blocked it</value>
                </setting>
                <setting name="PDL1" serializeAs="String">
                        <value>Grisou Attacked you but your defense blocked some of it you took </value>
                </setting>
                <setting name="GDL1" serializeAs="String">
                        <value>You attacked Grisou but her defense blocked some of it she took </value>
                </setting>
                <setting name="PR1" serializeAs="String">
                        <value>You casted recovery and recover </value>
                </setting>
                <setting name="GR1" serializeAs="String">
                        <value>Grisou casted recovery and recover </value>
                </setting>
                <setting name="R1" serializeAs="String">
                        <value> Health</value>
                </setting>
                <setting name="D1" serializeAs="String">
                        <value> Defense</value>
                </setting>
                <setting name="PDC1" serializeAs="String">
                        <value>You casted defense and got </value>
                </setting>
                <setting name="GDC1" serializeAs="String">
                        <value>Grisou casted defense and got </value>
                </setting>
        </WindowsApp2.My.MySettings>
    </userSettings>
</configuration>